@page "/servers"

<h3>Servers</h3>
<br/>
<br/>
<CityListComponent SelectCityCallback="HandleSelectedCity"></CityListComponent>
<br/>

<SearchBarComponent OnSearchCallback="HandleSearch"></SearchBarComponent>
<br/>

<ServerListComponent CityName="@CityName" SearchCity="@SearchName"></ServerListComponent>

<a href="/servers/add" class="btn btn-primary">Add Server</a>

@code {
    
    private string CityName { get; set; } = "Toronto";
    private string SearchName { get; set; } = string.Empty;

    private void HandleSelectedCity(string cityName)
    {
        CityName = cityName;
    }

    private void HandleSearch(string searchName)
    {
        CityName = string.Empty;
        SearchName = searchName;
    }
}