@page "/to-do"
@inject NavigationManager NavigationManager

@if (!_todoItems.Any())
{
    return;
}

<button @onclick="AddTodo" class="btn btn-primary mb-3">
    Add Task
</button>

<TodoListComponent TodoItems="_todoItems"></TodoListComponent>

@code {
    private List<TodoItem> _todoItems = TodoItemsRepository.GetItems().ToList();
    
    private void AddTodo()
    {
        TodoItemsRepository.Add(new TodoItem
        {
            FreshAdd = true,
        });
        NavigationManager.Refresh(forceReload: true);
    }

}