@page "/counter"
<h1>Server Interactivity</h1>
<CounterPage @rendermode="InteractiveServer"></CounterPage>

<br />
<br />
<br />

<h1>Web Assembly Interactivity</h1>
<CounterPage @rendermode="InteractiveWebAssembly"></CounterPage>
@code {

}