<table class="table table-striped">
    <RepeaterComponent Items="servers">
        <Header>
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Status
                </th>
                <th>
                    People Online
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Row>
    </RepeaterComponent>
</table>

@code {
    [Parameter] public string? CityName { get; set; }
    [Parameter] public string? SearchCity { get; set; }

    private readonly string FALLBACK_CITY = "Toronto";
    private List<Server> servers = [];

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(SearchCity))
        {
            servers = ServersRepository.SearchServers(SearchCity!);
            return;
        }

        servers = ServersRepository.GetServersByCity(CityName ?? FALLBACK_CITY);
    }

}