@implements IDisposable

@inject IServersEfCoreRepository ServersRepository
@inject PersistentComponentState ApplicationState

@if (servers.Count <= 0)
{
    <p><em>Loading...</em></p>
    return;
}

<table class="table table-striped">
    <RepeaterComponent Items="servers">
        <Header>
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Status
                </th>
                <th>
                    People Online
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Row>
    </RepeaterComponent>
</table>

@code {
    [Parameter] public string? CityName { get; set; }
    [Parameter] public string? SearchCity { get; set; }

    private readonly string FALLBACK_CITY = "Toronto";
    private List<Server> servers = [];
    public Timer? Timer { get; set; }
    private PersistingComponentStateSubscription? _persistSubscription;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<string>("CityName", out var cityName))
        {
            if (cityName != CityName)
            {
                base.SetParametersAsync(parameters);
            }
        }

        if (parameters.TryGetValue<string>("SearchFilter", out var searchFilter))
        {
            if (searchFilter != SearchCity)
            {
                base.SetParametersAsync(parameters);
            }
        }

        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        if (ApplicationState.TryTakeFromJson<List<Server>?>("Servers", out var restored))
        {
            servers = restored!;
        }
        else
        {
            await PopulateCitiesAsync();
        }

        _persistSubscription = ApplicationState.RegisterOnPersisting(PersistData);
    }

    protected override async Task OnParametersSetAsync()
    {
        await PopulateCitiesAsync();
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson("Servers", servers);

        return Task.CompletedTask;
    }

    private async Task PopulateCitiesAsync()
    {
        if (!string.IsNullOrWhiteSpace(SearchCity))
        {
            servers = await ServersRepository.SearchServersAsync(SearchCity!);
            return;
        }

        servers = await ServersRepository.GetServersByCityAsync(CityName ?? FALLBACK_CITY);
        StateHasChanged();
    }

    public void Dispose()
    {
        _persistSubscription?.Dispose();
    }

}